

.list-item {
	border-top:3px solid #BBACBF;
	position: relative;
	text-decoration: none;
	max-width: 900px;
	margin: 0 auto;
}

li {
	list-style: none;
}
.city {
	text-align: center;
	background-color: #252525;
	color: white;
	font-family: 'Cabin sketch', cursive;
	font-size: 1.6em;
	padding: 0.3em;
}

.venue {
	font-size: 1.2em;
	font-weight: bold;
}

.list {
	margin: 15px 0;
    text-transform: uppercase;
    font-family: 'Pt Sans', sans-serif;
}


