
.message {
	font-family: $body;
	font-size: 1.2em;
	width: 80%;
	margin: 15px auto;
	text-align: center;

	.message-header {
		font-size: 1.2em;
		line-height: 1em;
	}

	.message-icon {
		width: 60%;
		margin: 15px auto;
		max-width: 300px;

		@include breakpoint($medium) {
			width: 30%;
		}
	}

}