

#errors {
	text-align: center;
    width: 97%;
    color: #fff;
    font-family: "Cabin Sketch",cursive;
    font-size: 1.45em;
    margin: 25px auto;

    .metal {
    	width: 20%;
    	margin: 20px 0;
    }


	@include breakpoint($medium) {
		display: inherit;
		float: left;
		text-align: left;
		width: span(8);
		margin-left: span(2);
		margin-right: span(2);
		color: white;
		font-family: $Cabin;
		font-size: 1.75em;
		margin-top: 50px;
	}
	
}

