

#errors {
	display: none;

	@include breakpoint($medium) {
		display: inherit;
		float: left;
		text-align: left;
		width: span(8);
		margin-left: span(2);
		margin-right: span(2);
		color: white;
		font-family: $Cabin;
		font-size: 1.75em;
		margin-top: 50px;
	}
	
}

