

.list-icons {
	position: absolute;
	width: 100px;
	top: 145px;
	font-family: $body;
	text-align: center;
	text-decoration: none;

	img {
		width: 50%;
	}
	span {
		margin-top: 10px;
		color: royalblue;
	}
}

.infoWindow-icon {
	text-align: center;
	text-decoration: none;
	color: royalblue;

	img{
		width: 20%;
	}

	span {
		font-size: 1.2em;
	    margin: 20px 13px;
	    float: left;
		
	}
}

.tickets {
	left: 17%;
} 

.hotels {
	right: 24%;
	cursor:pointer;
}