
.tickets {
	
}

.marker-title {
 	margin: 10px 0;
 	font-size: 1.5em;
 	font-weight: 400;
}

.show-date {
	margin: 20px 0;
	font-weight: 400;
}


.other {
	cursor: pointer;
	float: right;
	margin: 20px 2px;
	font-size: 1.2em;
	color: royalblue;
	cursor: pointer;
}