html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding:0;
  background-color:white;
  -webkit-font-smoothing: antialiased;
  max-width: 1440px;
}

.wrapper {
  @include container;
}

.list-wrapper {
  @include container;
  padding: 20px 0 90px 0;
}

.map-form {
  width: 100%;
  height: 50vh;
  @include breakpoint($medium){
    width: 100%;
    height: 50vh;
    z-index:88;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }

}

.img-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}